@use '~styles/functions/fontFluid' as *;
@use '~styles/mixins/media' as *;

:root {
  font-size: #{font-fluid(9px, 10px, 414px, 1280px)};
  color: var(--color-primary-black);
  word-break: break-word;
}

h1,
.h1 {
  @include media-min('sm') {
    font-size: 5rem;
    line-height: 6.6rem;
  }

  font-size: 3.2rem;
  font-weight: var(--font-weight-bold);
  line-height: 3.6rem;
}

h2,
.h2 {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  line-height: 5.2rem;
}

h3,
.h3 {
  @include media-min('sm') {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  font-size: 2.8rem;
  font-weight: var(--font-weight-bold);
  line-height: 3.2rem;
}

h4,
.h4 {
  font-size: 2.4rem;
  font-weight: var(--font-weight-bold);
  line-height: 3.2rem;
}

h5,
.h5 {
  font-size: 1.4rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 2rem;
}

h6,
.h6 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.8rem;
}

p,
.p,
ul,
a,
td,
input,
textarea,
label {
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
}
