@use '~styles/mixins/box' as *;

.container {
  position: relative;
  z-index: var(--z-index-high);
  margin-top: var(--header-height);
}

.header {
  position: fixed;
  z-index: var(--z-index-medium);
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: var(--header-height);

  background-color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-secondary-dark);

  .insideHeader {
    @include box-default;
  }
}
