:root {
  --border-radius-background-title: 7px;
  --border-radius-button: 14px;
  --border-radius-card: 45px;
  --border-solid-main: 2px solid var(--color-primary-dark);
  --border-solid-accent: 2px solid var(--color-accent-primary);
}
