:root {
  --border-radius-background-title: 7px;
  --border-radius-button: 14px;
  --border-radius-input: 14px;
  --border-radius-card: 45px;
  --border-solid-primary: 2px solid var(--color-primary-dark);
  --border-solid-secondary: 2px solid var(--color-primary-light);
}
