:root {
  --color-primary-light: rgb(255 255 255);
  --color-primary-dark: rgb(0 0 0);
  --color-secondary-light: rgb(243 243 243);
  --color-secondary-dark: rgb(25 26 35);
  --color-accent-primary: rgb(185 255 102);
  --color-accent-secondary: rgb(41 42 50);
}
