:root {
  --color-primary-dark: rgb(35 31 32);
  --color-primary-light: rgb(243 243 243);
  --color-accent-primary: rgb(185 255 102);
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
}
