.primaryBackground {
  fill: var(--color-secondary-dark);
}

.primaryArrow {
  fill: var(--color-accent-primary);
}

.secondaryBackground {
  fill: var(--color-primary-light);
}

.secondaryArrow {
  fill: var(--color-primary-dark);
}
